<div class="modal-overlay">
	<div class="modal-content">
		<h3>Change Password</h3>

		<form hx-post="/profile/edit/password" hx-target="closest .modal-content" hx-swap="outerHTML">

			<div id="modal-feedback">
				{{if .Error}}
				<p class="error">{{.Error}}</p>
				{{end}}
			</div>

			<div style="margin-bottom: 1em;">
				<label for="current_password">Current Password:</label>
				<input type="password" id="current_password" name="current_password" required>
			</div>

			<div style="margin-bottom: 1em;">
				<label for="new_password">New Password:</label>
				<input type="password" id="new_password" name="new_password" required>
			</div>

			<div style="margin-bottom: 1em;">
				<label for="confirm_password">Confirm New Password:</label>
				<input type="password" id="confirm_password" name="confirm_password" required>
			</div>

			<hr style="margin-top: 2em; margin-bottom: 1em;">

			<button type="submit">Confirm Change</button>
			<button type="button" onclick="document.getElementById('modal-placeholder').innerHTML = ''">
				Cancel
			</button>
		</form>
	</div>
</div>
